In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('water_potability.csv')
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [4]:
df.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [5]:
# Load the CSV file into a pandas DataFrame
df = pd.read_csv('water_potability.csv')

# Drop rows containing missing values
df = df.dropna()

# Write the cleaned DataFrame back to a new CSV file
df.to_csv('cleaned_water_potability.csv', index=False)

In [6]:
df.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [7]:
df.Potability.value_counts()

Potability
0    1200
1     811
Name: count, dtype: int64

In [10]:

import csv
import random

# Open the CSV file and read its contents into a list of rows
with open('cleaned_water_potability.csv', 'r') as file:
    reader = csv.reader(file)
    rows = list(reader)

header = rows[0] # Store the header row
data = rows[1:] # Store the data

# Shuffle the data using the random library
random.shuffle(data)

# Write the shuffled data plus header row back out to a new CSV file
with open('shuffled_cleaned_water_potability.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(data)

In [11]:
df = pd.read_csv('shuffled_cleaned_water_potability.csv')
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,6.174884,193.027960,23006.24222,8.098312,340.253354,297.112621,13.475158,78.325227,3.623298,0
1,7.201702,147.711086,37308.99416,5.677451,279.164446,395.976825,13.326125,63.626894,3.883250,1
2,8.238997,199.594539,25046.79864,9.288020,350.835986,328.363398,18.743231,54.416965,3.089924,1
3,7.539882,185.825975,21575.24522,7.442999,333.079630,444.116633,15.830565,49.067977,4.531594,0
4,4.933106,162.184382,27771.08013,7.757702,317.935411,493.304069,14.261743,77.142104,1.450000,0